body {
  font: 20px Montserrat, sans-serif;
  line-height: 1.8;
  color: #a0a2a3;
}

p {
  font-size: 16px;
}

.margin {
  margin-bottom: 10px;
  color:aliceblue;
}

.bg-1 {
  background-image: url("../images/Melbourne_Yarra.jpg");
  background-size: cover;
  background-position: center;
  background-blend-mode: lighten;
  min-height: 600px;
}

.bg-2 {
  background-color: #474e5d;
  /* Dark Blue */
  color: #ffffff;
}

.bg-3 {
  background-color: #ffffff;
  /* White */
  color: #555555;
  margin-left: auto;
  margin-right: auto;
}

.bg-4 {
  background-color: #2f2f2f;
  /* Black Gray */
  color: #fff;
  max-height: 100px;
}

.container-fluid {
  padding-top: 70px;
  padding-bottom: 70px;
}

.container-fluid-footer {
  padding-top: 20px;
  padding-bottom: 10px;
}
.navbar {
  padding-top: 15px;
  padding-bottom: 15px;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  font-size: 12px;
  letter-spacing: 5px;
}

.navbar-nav li a:hover {
  color: lightblue !important;
}

.social-icon {
  font-size: 21px;
  padding-left: 10px;
  color: darkgray;
}

article {  
  display: grid;  
  grid-template-columns: 1fr 740px 1fr;  
}

article > \* {  
  grid-column: 2;  
}